* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
}

.center-text{
  text-align: center;
}

#wrapper {
  font-family: Arial, sans-serif;
}

#wrapper h1, h2, h3, nav ul li{
font-family: 'Fugaz One', cursive;
}

img{
  display: block;
}

header{
 display: flex;
 flex-direction: column;
 height: auto;
 padding:2px;
}


h1{
 font-size:3em;
}

#reg-nav{
  background-color: #000;
  height:auto;
}

#reg-nav ul, #hamburger-menu ul {
  font-size: 1.5em;
  list-style: none;
  color: #fff;
}

#reg-nav ul{
  display: flex;
  justify-content: center;
}

#reg-nav ul li{
  flex-basis: 20%;
  padding: 5px 0;
}

#reg-nav ul li a, #hamburger-menu ul li a{
  color: #fff;
  text-decoration: none;
  display: block;
  height: 40px;
}

#reg-nav ul li a:hover{
  border-bottom: 3px solid #fff;
}

.mobile{
  display: none;
}

#active {
  display: block;
}
#slider{
 display: flex;
 justify-content: center;
 background: url("../imgs/knitting.jpg") no-repeat;
 background-position: center center;
 background-size: cover;
 height: 300px;
}

.container{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-evenly;
 height:auto;
 padding: 20px 0;
}

.container:nth-child(2n){
 background-color: #843AB4;
}

.container p{
  font-size: 1.3em;
}


.content-box{
 flex-basis: 40%;
 margin: 10px 0;
 align-self: center;
 height: auto;
}

.content-box ul{
  list-style-position: inside;
}

.content-box li{
  font-size: 1.4em;
  line-height: 1.5em;
}

.content-box h2{
 font-size: 2em;
}

.content-box h3{
  margin-top: 5px;
  font-size: 1.3em;
}

#main-section ul{
margin-left: 10px;
}
#about-section{
}

#about-section img, #classes-section img{
 margin: 0 auto;
}

#about-section .content-box p{
  line-height: 1.3em;
}

#classes-section {
  padding-top: 10px;
}
#classes-section .title{
  flex-basis: 100%;
  font-size: 3em;
}

#contact-section form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
#contact-section .content-box input{
  display: block;
  height:30px;
  margin-bottom: 20px;
}

#contact-section .content-box textarea{
  height: 100px;
  margin-bottom: 20px;
}

#contact-section .content-box input[type="submit"]{
  width: 100px;
  height: 40px;
  border:0;
  border-radius: 5px;
  align-self: center;
}

#contact-section .content-box input[type="submit"]:hover{
background-color: #000;
color: #fff;
}
/*******Mobile Layout***********/

/*   Smart Phones     */
@media screen and (max-width: 870px){
  #wrapper{
    font-size: 1rem;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }

  #slider{
    display: none;
  }

  /* hamburger menu */
  #hamburger-menu{
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #000;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }
  .mobile-main{
    margin-top: 50px;
  }

  h1.mobile{
    color: #fff;
    font-size: 1.8rem;
    flex-grow: 2;
    align-self: center;
  }

  #hamburger-menu ul{
    align-self: center;
    flex-basis: 40px;
  }

  #hamburger-menu #hamburger-icon{
    padding: 10px 0;
    display: block;
    height: auto;
  }

  #hamburger-menu ul li div{
    margin-bottom: 5px;
    border: 1px solid #fff;
  }

  #hamburger-menu ul li #hamburger-icon:hover div{
    border:1px solid #843AB4;
  }

  #hamburger-menu ul li #links{
    border: 1px solid #fff;
    width: 60%;
    height:100%;
    background-color: #000;
    position: fixed;
    left: -700px;
    top:51px;
  }

  #hamburger-menu ul li ul li a{
    display: block;
    padding: 20px 0;
    height: 100px;
    border-bottom: 1px solid #fff;
  }

  #hamburger-menu ul li ul li a:hover{
    color: #000;
    background-color: purple;
  }

  .container{
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
  }

  #classes-section {
    padding-top: 50px;
  }
  .content-box img{
    width: 80%;
  }


  #about-section .content-box:nth-child(4){
    order:0;
  }

  #about-section .content-box:nth-child(3){
    order:1;
  }
  #contact-section .content-box:nth-child(2){
   width: 90%;
  }

  #contact-section .content-box input[type="submit"]{
    width: 100px;
  }

}
